/* Styling for the product */
.wc-block-product-template__responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap:3rem;
}

.wc-block-product {
    background: #333333;
    border: 1px solid #2f2f2f;
    padding: 1px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wc-block-product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.wc-block-components-product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.wp-block-button__link {
    display: inline-block;
    width: auto; 
    max-width: 100%; 
    padding: 10px 15px;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 14px;
    border: 2px solid black;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.wp-block-button__link:hover {
    background: #A3B5B2;
    transform: scale(1.05);
}


.added_to_cart {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #101111;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.added_to_cart:hover {
    color: #004a70;
}


.wp-block-woocommerce-product-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px; 
    margin: auto;
}

.wp-block-woocommerce-product-button span[hidden] {
    display: block;
}




/* Styling for the account */
.woocommerce-MyAccount-navigation {
    background: #f0f2f2; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 250px;
}

.woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.woocommerce-MyAccount-navigation li {
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
    text-decoration: none !important;
}

.woocommerce-MyAccount-navigation li.is-active {
    background: #A3B5B2;
    color: rgb(8, 8, 8);
}

.woocommerce-MyAccount-navigation li a {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
}
